.tiptap h1 {
  font-size: 36px;
}

.tiptap h2 {
  font-size: 1.5em;
}

.tiptap h3 {
  font-size: 1.3em;
}




.tiptap ul {
  list-style: disc !important;
}

.tiptap pre {
  background: #3b3a3a;
  color: #c2c2c2;
  border-radius: 7px;
}

.tiptap a {
  color: rgb(60, 60, 254);
  cursor: pointer;
}

.tiptap a.underline {
  text-decoration: underline;
}

.tiptap {
  min-height: 350px;
  overflow-y: auto;
  background: #fff;
  color: black;
  border-radius: 14px;
  padding: 20px 15px;
}

.ProseMirror-focused:focus {
  outline: none !important;
}